.div1 {
    background-color: rgb(92,209,203);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.div2 {
    position: absolute;
    border: 1.5rem solid rgb(16,117,125);
    border-radius: 1.5rem;
}
.goBackArrow {
    position: absolute;
    left: 2rem;
    top:2rem;
    width: 5rem;
    z-index: 1;
}

.num123 {
    position: absolute;
    color: rgb(184,214,217);
}