.div1 {
    background-color: rgb(92,209,203);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.div2 {
    position: absolute;
    border: 1.5rem solid rgb(16,117,125);
    border-radius: 1.5rem;
}

