
.menuCommon {
    right: 1rem;
    left: 1rem;
    top: 1rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    /*display: flex;*/
}

.menuCommonUp {
    display: flex;
    justify-content: center;
    align-items: center;

}
.chooseWhooPlay {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

/*-----------------------------*/

/* для элемента input c type="radio" */
.customRadio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .customRadio */
.customRadio>div {
    display: flex;
    align-items: center;
    user-select: none;
    background-color: rgb(226,218,255);
    width: 15rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin: 0.5rem

}

/* создание в label псевдоэлемента  before со следующими стилями */
.customRadio>div::before {
    content: '';
    width: 1.5rem; /*ширина радиокнопки*/
    height: 1.5rem; /*высота радиокнопки*/
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin: 0.2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 100%;
    background-color: white;
}

/* стили при наведении курсора на радио */
.customRadio>input:not(:disabled):not(:checked)+div:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.customRadio>input:not(:disabled):active+div::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.customRadio>input:focus+div::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.customRadio>input:focus:not(:checked)+div::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.customRadio>input:checked+div::before {
    border-color: #b3d7ff;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.customRadio>input:disabled+div::before {
    background-color: #e9ecef;
}

.radio {
    margin-bottom: 0.2em;
}

/*--------------*/

.rook {
    width: 1.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    transform: rotate(12deg);
}

.checkboxCommon {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkboxDisabled {
    width: 4rem;
}
.checkbox {
    width: 4rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.checkbox:hover {
    transform: scale(1.1);
}


