.menuCommon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioCommon {
    font-family: sans-serif;
    text-align: center;
    background: white;
    position: absolute;

    border-radius: 2rem;
    padding: 1rem;
}

.radiobuttonInput {
    visibility: hidden;

}

.radiobuttonLabel {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.customRadiobutton {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255,251,255);
    border: 0.4rem solid rgb(255,251,255);


}
.radiobuttonInput:checked + .customRadiobutton {
    border: 0.4rem solid rgb(255,251,255);
    background-color: rgb(167,149,231);
}

.radiobuttonDiv {
    display: flex;
    width: 15rem;
    background-color: rgb(226,218,255);
    border-radius: 2rem;
    height: 3rem;
    margin: 0.5rem;
    position: relative;
}
.rook {

    transform: rotate(12deg);
    position: absolute;

}
.text {
    position: absolute;
    font-family: sans-serif;

}


.checkboxCommon {
    position: absolute;
    left: 4rem;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkboxDisabled {
    width: 4rem;
    position: absolute;

}
.checkbox {
    width: 4rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.checkbox:hover {
    transform: scale(1.1);
}